README/ai-workflow/step-functions/architecture-review-workflow.asl.json
{
  "Comment": "AI AWS Architecture Reviewer Workflow",
  "StartAt": "AnalyzeArchitectureWithAI",
  "States": {
    "AnalyzeArchitectureWithAI": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:ap-southeast-1:675492141438:function:aws-reviewer-ai-analyzer",
        "Payload.$": "$"
      },
      "ResultSelector": {
        "analysis.$": "$.Payload"
      },
      "ResultPath": "$.analysis_result",
      "Next": "HasDetectedServices"
    },
    "HasDetectedServices": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.analysis_result.analysis.status",
          "StringEquals": "NO_SERVICES_DETECTED",
          "Next": "SetEmptyCost"
        }
      ],
      "Default": "EstimateCost"
    },
    "SetEmptyCost": {
      "Type": "Pass",
      "Result": {
        "cost": {
          "status": "SKIPPED",
          "message": "No AWS services were detected for cost estimation.",
          "estimated_monthly_cost": 0,
          "currency": "USD",
          "breakdown": []
        }
      },
      "ResultPath": "$.cost_result",
      "Next": "GenerateReport"
    },
    "EstimateCost": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:ap-southeast-1:675492141438:function:aws-reviewer-cost-tool",
        "Payload": {
          "review_id.$": "$.analysis_result.analysis.review_id",
          "region.$": "$.analysis_result.analysis.source.region",
          "services.$": "$.analysis_result.analysis.architecture_json.services"
        }
      },
      "ResultSelector": {
        "cost.$": "$.Payload"
      },
      "ResultPath": "$.cost_result",
      "Next": "GenerateReport"
    },
    "GenerateReport": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:ap-southeast-1:675492141438:function:aws-reviewer-pdf-generator",
        "Payload": {
          "analysis.$": "$.analysis_result.analysis",
          "cost.$": "$.cost_result.cost"
        }
      },
      "ResultSelector": {
        "report.$": "$.Payload"
      },
      "ResultPath": "$.report_result",
      "End": true
    }
  }
}
